@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

body {
  background-color: #F1EBDD;
}

.font-test {
  font-family: "MaruBuri-Regular";
}

/* color */
.bg-point {
  background-color: #F1EBDD;
}

.bg-point-hover:hover {
  background-color: #c9c3b1;
}

.bg-point-darker {
  background-color: #c9c3b1;
}

/* text */
.text-point {
  color : #746E60;
}

.text-green {
  color : #6E8653;
}

.bg-green {
  background-color: #6E8653;
}

.bg-brown {
  background-color: #746E60;
}

/* border */
.border-green {
  border-color : #6E8653;
  border: 1px;
  border-style: solid;
}

.border-b-brown {
  border-color : #746E60;
  border-bottom: 1px;
  border-style: solid
}

.border-point {
  border-color : #ECE6D9;
  border: 1px;
  border-style: solid;
}

.border-point-top {
  border-color : #ECE6D9;
  border-top: 1px;
  border-style: solid;
}

.border-point-bottom {
  border-color : #ECE6D9;
  border-bottom: 1px;
  border-style: solid;
}

.slider-info-section{
  background-image: url('/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.introduction1-image{
  background-image: url('/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.introduction3-1{
  background-image: url('/soop-stay.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.introduction3-2{
  background-image: url('/cafe/cafe1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.introduction3-3{
  background-image: url('/bookcafe.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.joyful-text-black {
  color : #333
}
